@import '../../../assets/color-variables.scss';

.long-break-background, .long-break-main-container {
  background-color: $long-break-light-background;
}

.long-break-mode__btn {
  background-color: $long-break-light-secondary-btn;
  border: 2px solid $long-break-light-text-color;
  width: 160px;
}

.long-break-mode__text, .long-break-timer{
  color: $long-break-light-text-color;
}

.long-break-menu__btn, .long-break-forward__btn {
  background-color: $long-break-light-secondary-btn;
}

.long-break-start__btn {
  background-color: $long-break-light-switch-btn;
}

.long-break-menu__btn {
  margin-right: 15px;
}

.long-break-forward__btn {
  margin-left: 15px;
}