// colors //

// light theme //

$focus-light-background: #fff2f2;
$focus-light-switch-btn: #ff7c7c;
$focus-light-secondary-btn: #ffd9d9;
$focus-light-text-color: #471515;

$long-break-light-background: #f2f9ff;
$long-break-light-switch-btn: #8bcaff;
$long-break-light-secondary-btn: #d9eeff;
$long-break-light-text-color: #153047;

$short-break-light-background: #f2fff5;
$short-break-light-switch-btn: #8ce8a1;
$short-break-light-secondary-btn: #dafae0;
$short-break-light-text-color: #14401d;

// dark theme //

$focus-dark-background: #0d0404;
$focus-dark-switch-btn: #b93737;
$focus-dark-secondary-btn: #310e0e;
$focus-dark-text-color: #fff2f2;

$short-break-dark-background: #040d06;
$short-break-dark-switch-btn: #328c46;
$short-break-dark-secondary-btn: #0f2c15;
$short-break-dark-text-color: #f2fff5;

$long-break-dark-background: #04090d;
$long-break-dark-switch-btn: #316ea3;
$long-break-dark-secondary-btn: #0e2231;
$long-break-dark-text-color: #f2f9ff;